@font-face {
    font-family: Act of Rejection;
    src: url(../../assets/Font/act_of_rejection/Act_Of_Rejection.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../assets/Font/Inter/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../assets/Font/Montserrat/Montserrat-VariableFont_wght.ttf);
}



.header-div {
    width: 100%;
    height: 940px;
    background: #EA2127;
}

.nav-title {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 112px;
    font-weight: 800;
    /* line-height: 134.4px; */
    letter-spacing: 12px;
    text-align: center;
}

.nav-img {
    width: 115px;
    height: 115px;
}

.title-div {
    display: flex;
    align-items: center;
    gap: 10px;
    top: 40px;
    margin-left: 62px;
}

.nav-menu {
    width: 40px;
    height: 40px;
    margin-top: 58px;
    /* left: 1724px; */
    margin-right: 156px;
    padding: 5.52px 0px 5.59px 0px;
    opacity: 0px;
    position: relative;

}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;

}

.nav-menu:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: #FFFFFF;
    padding: 12px 40px;
    border-radius: 5px;
    list-style: none;
}


.header-div-nav {
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* Banner style  */


.banner-text {
    font-family: Act of Rejection;
    font-size: 140px;
    font-weight: 400;
    line-height: 168px;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF66;

}

.banner-adds-div {
    width: 357px;
    height: 468px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 16px;
    opacity: 0px;
    cursor: pointer;

}

.banner-adds-div img {
    width: 357px;
    height: 397px;
    border-radius: 12px;
    box-shadow: #66424233;
}

.dress-name {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #FFFFFF;

}

.dress-price {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #FFFFFF;
}

.banner-adds {
    margin-left: 187px;
    display: flex;
    /* justify-content: space-between; */
    gap: 16px;
    /* overflow-x: auto; */
    /* overflow-x: scroll; */
    white-space: nowrap;
}

/* .banner-adds::-webkit-scrollbar{
    display: none;
} */